.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 2px solid #dbc441;
    font: inherit;
    border-radius: 2px;
    outline: none;
}

button {
    font: inherit;
    background: #dbc441;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
}

button:hover,
button:active  {
    background: #f1cd00;
}